:root {
  --color1: #524AF8;
  --color2: #4162D9;
  --color3: #549FF0;
  --color4: #41B2D9;
  --color5: #4AF8F6;
  --black: #000;
  --white: #d9d9d9;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: var(--white);

  }
  
  h1 {
    text-align: center;
  }
  
  table {
    width: 400px;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid var(--black);
  }
  
  th {
    background-color: var(--color1);
  }
  
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.link a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  background-color: var(--color1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--black);
}